In [54]:
import pandas as pd
import datetime as dt
import matplotlib.pyplot as plt
import seaborn as sns
import math
import re
import json
import os
import random

In [55]:
calls_df = pd.read_csv('Data/calls_wap_2.csv')
contacts_df = pd.read_csv('Data/contacts_wap_2.csv')
progreg_df = pd.read_csv('Data/progreg_wap_2.csv')
orders_df = pd.read_csv('Data/orders_wap_2.csv')

In [56]:
for x in [calls_df, contacts_df, progreg_df, orders_df]:
    try:
        x.drop(['Unnamed: 0'], axis = 1, inplace = True)
    except:
        pass

In [57]:
calls_df

,ClinID,MonthStartDate,CallFocus,CallCount
0,22e12173ad043190f83cace61,2019-02-01,Doctor Not Available,1
1,a909580835e88cf45eb9b8b0f,2020-03-01,AP360/TAC/iPro,1
2,22e12173ad043190f83cace61,2019-03-01,Doctor Not Available,1
3,a89a0330d58f16ee103d83254,2021-08-01,Business Overview,1
4,22e12173ad043190f83cace61,2021-10-01,Business Overview,1
...,...,...,...,...
211623,aae5a754e2629abbc6dce01b8,2023-01-01,Promotions/Programs,1
211624,d5f00f8e39aa4802218b6b973,2023-01-01,Education/Events,1
211625,f1e6a1e1da496189f1177b1e3,2022-07-01,Business Overview,4
211626,f1e6a1e1da496189f1177b1e3,2023-01-01,Business Overview,2
211627,2f8fbfc64d673ed7fdfbd03de,2023-01-01,Business Overview,1

In [58]:
orders_df

,ClinID,MonthStartDate,CCAs,CCAsTeen,CCAsiTero,CCAsComplex
0,393d4620c44ed3cefc0a2b1a4,2019-01-01,11,4,11,4
1,5f9d690664cc6b663a7c9ba0e,2019-01-01,2,0,0,0
2,a8701201ab3335be42e1f6989,2019-01-01,2,0,2,0
3,7a8a99460e7d43e120d2be76e,2019-01-01,6,2,6,1
4,53fe08a99c3c2f81570bf67b8,2019-01-01,7,3,7,4
...,...,...,...,...,...,...
195582,9aa14aea26008ee2f9a25254f,2023-03-01,24,10,24,3
195583,d5cce0669ffd7d4cd0d7692dd,2023-03-01,1,0,1,0
195584,eb83e31340d03d90e19154c86,2023-03-01,4,1,4,1
195585,7ae24068ca0d88808c20133b1,2023-03-01,9,8,9,2
195586,681989626703789d552a4a3ed,2023-03-01,31,16,31,7

In [59]:
progreg_df

,CountryGroup,ClinID,ProgCode,ProgStartDate,ProgEndDate,DocTCsAcceptedDate,DocParticipantStatus
0,U.S.A,eaf86bf6e10a6b64b09154468,360TIP21D,NaN,NaN,NaN,Nominated
1,U.S.A,257f17646d117f0bfb6dd8d00,360TIP21D,NaN,NaN,NaN,Nominated
2,U.S.A,85962ab7d2b6b4c976d7c24a2,TACTIPP21,2021-01-01,2021-12-31,2020-12-17,In Program
3,U.S.A,a981f99874a5cd223b036e773,360TIP21D,NaN,NaN,NaN,Nominated
4,U.S.A,764bb7a019375b00da43bafc7,TACTIPP21E,NaN,NaN,NaN,Nominated
...,...,...,...,...,...,...,...
12331,U.S.A,9f33cccd1ce2419480d26b0e7,360TIP21E,NaN,NaN,NaN,Nominated
12332,U.S.A,d6041bfe9b445805811cfb153,360TIP21E,2021-07-01,2022-06-30,2021-08-05,In Program
12333,U.S.A,bd947ab3789f5becc3ea5990a,360TIP21E,NaN,NaN,NaN,Nominated
12334,U.S.A,4fb54f86e321ad10c63a5cc3e,360TIP21E,NaN,NaN,NaN,Nominated
12335,U.S.A,ece18977155af2e9080ab7237,TACTIPP21E,2021-07-01,2022-06-30,2021-08-13,In Program

In [60]:
contacts_df

,ClinID,CertificationDate,CountryGroup,State,InvTerritoryL4,ProfessionalCategory
0,0e9bc464c15a91c8ee2e3b477,2016-07-01,U.S.A,South Dakota,AM-US-NW,Ortho
1,c0dfc68693275e37731c35149,2017-06-05,U.S.A,California,AM-US-WE,Ortho
2,4cb3a52529154955043600abf,2018-08-09,U.S.A,Florida,AM-US-SE,Ortho
3,ccc19770f3a2be9b486caa077,2017-06-06,U.S.A,Virginia,AM-US-MA,Ortho
4,62dfffa31393ac3f70a898e28,2017-06-28,Canada,ON,AM-CA-CA,Ortho
...,...,...,...,...,...,...
5228,50053fb4bccc6863d497d575a,2021-01-14,U.S.A,Michigan,AM-US-MW,Ortho
5229,c1b270b9a5f25752b9585be62,2020-07-31,U.S.A,California,AM-US-WE,Ortho
5230,ae482d9a241d0ede1e121f39b,2021-12-09,Canada,ON,AM-CA-CA,Ortho
5231,dddb5161cd5ff437f8a1e32af,2021-04-26,U.S.A,Georgia,AM-US-SE,Ortho
5232,abcba7d1d24c7bc28d64d0f4f,2022-02-11,U.S.A,South Carolina,AM-US-SE,Ortho

## GOALS
- merge customers + orders + sales calls + program data
- engineer features for prediction
- create predictive models for volume based on engineered features
- run random effect regression models for panel data

#### Creating time series dataset

In [62]:
cleaned_contacts = contacts_df[['ClinID', 'State']]
cleaned_contacts

                         ClinID           State
0     0e9bc464c15a91c8ee2e3b477    South Dakota
1     c0dfc68693275e37731c35149      California
2     4cb3a52529154955043600abf         Florida
3     ccc19770f3a2be9b486caa077        Virginia
4     62dfffa31393ac3f70a898e28              ON
...                         ...             ...
5228  50053fb4bccc6863d497d575a        Michigan
5229  c1b270b9a5f25752b9585be62      California
5230  ae482d9a241d0ede1e121f39b              ON
5231  dddb5161cd5ff437f8a1e32af         Georgia
5232  abcba7d1d24c7bc28d64d0f4f  South Carolina

[5233 rows x 2 columns]

In [63]:
pro_programs = ['360PR22A', '360PR22B', '360TIP20', '360TIP21', '360TIP21D', '360TIP21E']


progreg_df

,CountryGroup,ClinID,ProgCode,ProgStartDate,ProgEndDate,DocTCsAcceptedDate,DocParticipantStatus
0,U.S.A,eaf86bf6e10a6b64b09154468,360TIP21D,NaN,NaN,NaN,Nominated
1,U.S.A,257f17646d117f0bfb6dd8d00,360TIP21D,NaN,NaN,NaN,Nominated
2,U.S.A,85962ab7d2b6b4c976d7c24a2,TACTIPP21,2021-01-01,2021-12-31,2020-12-17,In Program
3,U.S.A,a981f99874a5cd223b036e773,360TIP21D,NaN,NaN,NaN,Nominated
4,U.S.A,764bb7a019375b00da43bafc7,TACTIPP21E,NaN,NaN,NaN,Nominated
...,...,...,...,...,...,...,...
12331,U.S.A,9f33cccd1ce2419480d26b0e7,360TIP21E,NaN,NaN,NaN,Nominated
12332,U.S.A,d6041bfe9b445805811cfb153,360TIP21E,2021-07-01,2022-06-30,2021-08-05,In Program
12333,U.S.A,bd947ab3789f5becc3ea5990a,360TIP21E,NaN,NaN,NaN,Nominated
12334,U.S.A,4fb54f86e321ad10c63a5cc3e,360TIP21E,NaN,NaN,NaN,Nominated
12335,U.S.A,ece18977155af2e9080ab7237,TACTIPP21E,2021-07-01,2022-06-30,2021-08-13,In Program